<!DOCTYPE html>
<html>
    <head>
        <title>About library</title>
    </head>
    <body>
        <form>
            <div ><img src="../../assets/pic/e-lib.jpg" style="width: 1101px; height: 400px;" class="img"></div>
            <p>Online library management project in spring and hiberate is complete solution for all the manual problem that we
                face during the library management.Mainly there are 2 main actor of the application that going to operate the application
                1,Admin/Librarian and 2,User/Students.
            </p>
            <p>Book or Digital book is the main module of the library management system.Book are assets that we are storing in the database
                with some some details like name,author name and version and a PDF format.So admin can perform crud operation and issued the booked
                to users
            </p>
        </form>
    </body>
</html>