<!DOCTYPE html>
<html>
    <head>
        <title>Rules</title>
    </head>
    <body>
        <form>
            <h1 style="text-align: center;">Rules And Regulation</h1>
            <h3>The following are the rules for the library:</h3>
            <p>1.A person desirous of using the Library shall enter his/her name, address and time of entry legibly and sign in the register kept at the entrance for the purpose.</p>
            <p>2.Strict decorum and discipline must be maintained in the Library. Users must ensure that rights of other users of the Library are not breached in anyway by their own acts of omission or commission..</p>
            <p>3.Use of cell phones is not allowed. If readers wish to keep them while using the Library, it must be switched off.</p>
            <p>4.Smoking, eating, sleeping and talking loudly are strictly prohibited in the Library.</p>
            <p>5.Non-members can use the library resources in the Library premises with the permission of the Director General/ Joint secretary /Librarian.</p>
            <p>6.Readers must not take sticks, umbrellas, briefcases, boxes and other such articles into the Library. </p>
            <p>7.Documents taken out of the shelves must be left on the table.</p>
            <p>8.Readers should not mark, underline, write, or tear pages or otherwise damage the library documents.</p>
            <p>9.Readers are requested to handle all Library property carefully to avoid damage to it and also not to disturb other readers/users.</p>
            <p>10.No Library material can be taken out of the Library without permission of the Librarian.</p>
            <p>11.Photocopying service is available for library members at nominal charges. All photocopying must comply with copyright provision.</p>
            <p>12.Some items in the Library cannot be copied because of copyright laws and brittle / fragile condition.</p>
            <p>13.Suggestions on all aspects of library services are welcome.</p>
            <h3>Cyber Library Rules</h3>
            <p>1.Cyber Library is to be used for academic purposes only.</p>
            <p>2.Online Chatting in the Cyber Library is not allowed.</p>
            <p>3.Browsing of dating or social networking sites are strictly prohibited. Strict disciplinary action will be taken against the members.</p>
            <p>4.Members must carry their Library ID card while using the Cyber Library. They must show their ID card on demand.</p>
            <p>5.Members are not to share their Net access ID and Password with other students.</p>
            <p>6.Changing the settings and display of the Computers kept in the Cyber Library/Reading Hall is not permitted.</p>
            <p>7.Playing games on computers is strictly prohibited in the entire Library premises.</p>
            <p>8.Members must take care of their Pen drives, CD/DVD ROMs, Cell Phones, and Wallets etc.</p>
            <h3>Borrowing Privilege</h3>
            <p>1.Two books are issued for two weeks and they must be returned on or before the due date stamped on the date-slip of each document.</p>
            <p>2.The borrower should check the fitness of the document before getting it issued. Any discrepancy should be brought to the notice of the staff at the Circulation Counter who will put necessary remarks on the document before issuing. </p>
            <p>3.If a book is not returned within the borrowing period, issue of additional documents may be stopped.</p>
            <p>4.Late fee of Rs. 5/- per day per book would be charged from all the borrowers who retain book(s) beyond the due date. Director General/ Joint Secretary/ Librarian may exempt the late fee depending upon the circumstances of delay.</p>
            <p>5.Where books are not returned by the due date after the 3rd reminder the borrower will be charged cost of the book plus the fine and 30 per cent of cost of the book as processing charges.</p>
            <p>6.Borrowers can get the book(s) reissued on or before the due date by intimating the Library through telephone/letter/email etc. Overdue books will not be reissued at any cost.</p>
            <p>7.Books will be reissued for not more than two times. After that the borrower must return the book(s) without fail.</p>
            <p>8.Reference books, journals/periodicals, magazines/newspapers, and other documents declared “For Reference” by the Librarian will not be issued.</p>
            <p>9.Documents, marked/ stamped as ‘Reference’ category, are not to be issued.</p>
            <p>10.The borrowers are advised to return the books/ documents while proceeding on foreign trip.</p>
            <p>11.A borrower is responsible for the safe custody and return of the documents.</p>
        </form>
    </body>
</html>